.cart__table {
  background: gray;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 20px;
  border-top: 40px rgb(98, 98, 98) solid;
}

table {
  width: 100%;
  padding-top: 40px;
}

table tr:first-child {
  color:#006496;
  border-bottom: 1px solid white;
}

.cart__empty h2 {
  text-align: center;
}