.cart__selection {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cart__selection select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
}

.cart__add-product {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  
  .cart__add-product input {
    height: 20px;
  }
  